* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Regular.woff');
  src: url('../fonts/PlayfairDisplay-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url('../fonts/PlayfairDisplay-Bold.woff');
  src: url('../fonts/PlayfairDisplay-Bold.woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Regular.woff');
  src: url('../fonts/Karla-Regular.woff2');
}

@font-face {
  font-family: 'Karla-Italic';
  src: url('../fonts/Karla-Italic.woff');
  src: url('../fonts/Karla-Italic.woff2');
}

@font-face {
  font-family: 'Ovo';
  src: url('../fonts/Ovo-Regular.woff');
  src: url('../fonts/Ovo-Regular.woff2');
}

@font-face {
  font-family: 'Myriad-Pro';
  src: url('../fonts/MYRIADPRO-REGULAR.woff');
  src: url('../fonts/MYRIADPRO-REGULAR.woff2');
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.header__menu li {
  padding: 0 25px;
}

.header__menu li:hover a {
  background: #2d2d35;
}

.header__menu li a {
  color: #fff;
  font-size: 18px;
  font-family: Karla;
  padding: 5px 10px;
}

.main-scr {
  width: 100%;
  background: url("../images/pic.png") no-repeat center / cover;
}

.main-scr .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-scr__content {
  min-width: 60%;
  padding: 25px 0% 50px 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-scr__title {
  max-width: 734px;
  padding-top: 92px;
  font-family: PlayfairDisplay-Bold;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.main-scr__subtitle {
  max-width: 492px;
  padding-top: 25px;
  font-family: Karla;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
}

.main-scr__arrow-down {
  padding: 22px 0 25px;
}

.main-scr__order-form {
  width: 100%;
  padding: 43px 35px 40px 43px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.main-scr__order-form .flex-container {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-scr__order-form .button {
  display: block;
  margin: 24px auto 0 auto;
}

.main-scr__order-form-title {
  max-width: 400px;
  margin: 0 auto 20px auto;
  font-family: PlayfairDisplay;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

.main-scr__input-topic {
  width: 33%;
  padding: 17px 27px;
  margin: 0 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-family: Myriad-Pro;
  font-size: 18px;
}

.main-scr__input-topic::-webkit-input-placeholder {
  color: #fff;
  font-family: Myriad-Pro;
  font-size: 18px;
}

.main-scr__input-topic::-moz-placeholder {
  color: #fff;
  font-family: Myriad-Pro;
  font-size: 18px;
}

.main-scr__input-topic:-ms-input-placeholder {
  color: #fff;
  font-family: Myriad-Pro;
  font-size: 18px;
}

.main-scr__input-topic::-ms-input-placeholder {
  color: #fff;
  font-family: Myriad-Pro;
  font-size: 18px;
}

.main-scr__input-topic::placeholder {
  color: #fff;
  font-family: Myriad-Pro;
  font-size: 18px;
}

.__select {
  position: relative;
  display: inline-block;
  width: 33%;
  padding: 17px 27px;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.__select[data-state="active"] .__select__content {
  opacity: 1;
}

.__select[data-state="active"] .__select__label {
  max-height: 40px;
  border-top-width: 1px;
}

.__select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-family: Karla;
  font-size: 18px;
  color: #fff;
}

.__select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #fff;
}

.__select__content {
  position: absolute;
  top: 40px;
  left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 6px);
  background-color: #ffffff;
  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.__select__input {
  display: none;
}

.__select__input:checked + label {
  background-color: #dedede;
}

.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
  font-family: Karla;
}

.__select__label + input + .__select__label {
  border-top: 0 solid #C7CCD160;
}

.__select__label:hover {
  background-color: #da6f5b !important;
  color: #ffffff;
}

@font-face {
  font-family: 'swiper-icons';
  src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-container-pointer-events.swiper-container-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */

.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.testimonials {
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
  background-color: #ffffff;
}

.testimonials__title {
  font-family: PlayfairDisplay;
  font-size: 48px;
  text-align: center;
  color: #2d2d35;
}

.testimonials__item {
  margin: 50px 10px;
  padding: 40px 72px 35px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 15px 50px -25px #c2cbd2;
          box-shadow: 5px 15px 50px -25px #c2cbd2;
  background-color: #ffffff;
  text-align: left;
}

.testimonials__item p {
  font-family: Karla-Italic;
  font-size: 18px;
  font-style: italic;
  line-height: 1.67;
  text-align: left;
  color: #5b5e6b;
  padding-bottom: 34px;
}

.testimonials__item span {
  font-family: Ovo;
  font-size: 18px;
  line-height: 1.67;
  color: #2d2d35;
}

.testimonials__button {
  display: inline-block;
  padding: 15px 52px;
  margin-bottom: 20px;
  font-family: Myriad-Pro;
  font-size: 18px;
  color: #da6f5b;
  border: 1px solid #da6f5b;
  border-radius: 5px;
}

.testimonials__button:active {
  -webkit-transform: translate(0.2%, 1%);
      -ms-transform: translate(0.2%, 1%);
          transform: translate(0.2%, 1%);
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2) inset, 0 3px 10px 0 rgba(0, 0, 0, 0.19) inset;
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2) inset, 0 3px 10px 0 rgba(0, 0, 0, 0.19) inset;
}

.testimonials__swiper-button-fraction {
  display: none;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.testimonials__swiper {
  width: 130%;
  margin-left: -15%;
  text-align: center;
}

.testimonials__swiper .flex-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__swiper .swiper-button-prev,
.testimonials__swiper .swiper-button-next {
  display: none;
  margin: 0 10px;
}

.testimonials__swiper .swiper-pagination {
  display: inline-block;
  font-family: Ovo;
  font-size: 24px;
  line-height: 1.25;
  color: #2d2d35;
}

.testimonials__swiper .swiper-slide.swiper-slide-next .swiper-button-prev,
.testimonials__swiper .swiper-slide.swiper-slide-next .swiper-button-next,
.testimonials__swiper .swiper-slide.swiper-slide-next .testimonials__swiper-button-fraction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ham,
.menu {
  display: none;
}

.eclipse {
  background: rgba(58, 58, 58, 0.8);
  width: inherit;
  min-width: inherit;
  height: inherit;
  min-height: inherit;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  padding: 15px 57px 14px 58px;
  border-radius: 5px;
  background-color: #da6f5b;
  font-family: Karla;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.button:active {
  -webkit-transform: translate(0.2%, 5%);
      -ms-transform: translate(0.2%, 5%);
          transform: translate(0.2%, 5%);
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.swiper-container {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .testimonials__item {
    padding: 20px 42px 25px;
  }
}

@media (max-width: 1024px) {
  .main-scr__title {
    font-size: 62px;
  }
}

@media (max-width: 990px) {
  .testimonials__item {
    padding: 20px 22px 25px;
    margin: 40px 10px;
  }

  .testimonials__item p,
  .testimonials__item span {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .main-scr {
    background: url("../images/bg.png") no-repeat center / cover;
  }

  .main-scr .eclipse {
    background: transparent;
  }

  .main-scr__content {
    padding: 16px 16px 43px 16px;
  }

  .main-scr__title {
    font-size: 52px;
  }

  .main-scr__order-form {
    padding: 28px 18px;
  }

  .main-scr__order-form .flex-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-scr__order-form .button {
    display: block;
    width: 100%;
    margin: 9px 0 0 0;
  }

  .main-scr__input-topic {
    width: 100%;
    margin: 9px 0;
  }

  .__select {
    width: 100%;
    margin: 9px 0;
  }

  .testimonials {
    padding: 40px 0;
  }

  .testimonials__title {
    font-size: 36px;
  }

  .testimonials__item {
    text-align: center;
  }

  .testimonials__item p {
    text-align: center;
  }

  .testimonials__swiper-button-fraction {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .testimonials__swiper {
    width: 100%;
    margin-left: 0%;
  }

  .testimonials__swiper .swiper-pagination {
    width: 100%;
    margin-bottom: 25px;
  }

  .testimonials__swiper .swiper-slide.swiper-slide-next .swiper-button-prev,
  .testimonials__swiper .swiper-slide.swiper-slide-next .swiper-button-next,
  .testimonials__swiper .swiper-slide.swiper-slide-next .testimonials__swiper-button-fraction {
    display: none;
  }

  .ham {
    display: block;
    position: absolute;
    /* keep the hamburger button above everything */
    z-index: 100;
    top: 0;
    right: 0;
    background: transparent;
    cursor: pointer;
  }

  .xIcon,
  .menuIcon {
    color: white;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background: #2d2d35;
    color: white;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    list-style: none;
    padding: 16px;
  }

  .menu .header__logo {
    width: 100%;
  }

  .menu .header__button {
    margin: 50px 0;
    font-size: 16px;
  }

  .menu .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu .header__menu li {
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }

  .menu .header__menu li a {
    font-size: 21px;
  }

  .menu .header__menu li a:hover {
    background: transparent;
  }

  .showMenu {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  li {
    padding: 1rem 0;
  }

  .menuLink {
    display: inline;
    font-size: 2rem;
    color: white;
    text-decoration: none;
  }

  .menuLink:hover {
    text-decoration: underline;
  }
}

@media (max-width: 767px) {
  .testimonials__swiper .swiper-slide.swiper-slide-active .swiper-button-prev,
  .testimonials__swiper .swiper-slide.swiper-slide-active .swiper-button-next,
  .testimonials__swiper .swiper-slide.swiper-slide-active .testimonials__swiper-button-fraction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 424px) {
  .main-scr__title {
    padding-top: 47px;
    font-size: 36px;
  }

  .main-scr__subtitle {
    font-size: 16px;
    line-height: 1.5;
  }
}